<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JsonSubTypes" version="2.0.1" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="Polly" version="8.2.0" manuallyInstalled="true" />
  <package id="Polly.Core" version="8.2.0" />
  <package id="RestSharp" version="110.2.0" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.2" />
</packages>